body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1 {
    color: red;
    background: aliceblue;
    margin: 40%
}

p {
    color: green;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
}

p1 {
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-x: 3%;
    background-position-y: 3%;
    background-position-x: 3%;
    background-position-x: 3%
}
